
@model Survey;



<body>

    <form asp-controller="Login" asp-action="SurveyCreate" method="post">
        <div>
            <label for=""></label>
            <input />
            <label></label>
            <input />
        </div>


    </form>

</body>